@{
    ViewBag.Title = "Index";
    Layout = null;
}



<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ArchitectUI HTML Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="stylesheet" href="~/Content/Theme/assets/css/base.min.css">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>

<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
        <!--Header START-->
        <div class="app-header header-shadow">
            <div class="app-header__logo">
                <div class="logo-src"></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content">
                <div class="app-header-left">

                </div>
                <div class="app-header-right">


                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                            <img width="42" class="rounded-circle" src="~/Content/Theme/assets/images/avatars/1.jpg" alt="">
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="rm-pointers dropdown-menu-lg dropdown-menu dropdown-menu-right">
                                            <div class="dropdown-menu-header">
                                                <div class="dropdown-menu-header-inner bg-info">
                                                    <div class="menu-header-image opacity-2" style="background-image: url('~/Content/Theme/assets/images/dropdown-header/city3.jpg');"></div>
                                                    <div class="menu-header-content text-left">
                                                        <div class="widget-content p-0">
                                                            <div class="widget-content-wrapper">
                                                                <div class="widget-content-left mr-3">
                                                                    <img width="42" class="rounded-circle" src="~/Content/Theme/assets/images/avatars/1.jpg" alt="">
                                                                </div>
                                                                <div class="widget-content-left">
                                                                    <div class="widget-heading">
                                                                        Alina Mcloughlin
                                                                    </div>
                                                                    <div class="widget-subheading opacity-8">
                                                                        A short profile description
                                                                    </div>
                                                                </div>
                                                                <div class="widget-content-right mr-2">
                                                                    <button class="btn-pill btn-shadow btn-shine btn btn-focus">
                                                                        Logout
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="scroll-area-xs" style="height: 150px;">
                                                <div class="scrollbar-container ps">
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item-header nav-item">
                                                            Activity
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="javascript:void(0);" class="nav-link">
                                                                Chat
                                                                <div class="ml-auto badge badge-pill badge-info">
                                                                    8
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="javascript:void(0);" class="nav-link">
                                                                Recover Password
                                                            </a>
                                                        </li>
                                                        <li class="nav-item-header nav-item">
                                                            My Account
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="javascript:void(0);" class="nav-link">
                                                                Settings
                                                                <div class="ml-auto badge badge-success">
                                                                    New
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="javascript:void(0);" class="nav-link">
                                                                Messages
                                                                <div class="ml-auto badge badge-warning">
                                                                    512
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="javascript:void(0);" class="nav-link">
                                                                Logs
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <ul class="nav flex-column">
                                                <li class="nav-item-divider mb-0 nav-item"></li>
                                            </ul>
                                            <div class="grid-menu grid-menu-2col">
                                                <div class="no-gutters row">
                                                    <div class="col-sm-6">
                                                        <button class="btn-icon-vertical btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-warning">
                                                            <i class="pe-7s-chat icon-gradient bg-amy-crisp btn-icon-wrapper mb-2"></i>
                                                            Message Inbox
                                                        </button>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <button class="btn-icon-vertical btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-danger">
                                                            <i class="pe-7s-ticket icon-gradient bg-love-kiss btn-icon-wrapper mb-2"></i>
                                                            <b>Support Tickets</b>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="nav flex-column">
                                                <li class="nav-item-divider nav-item">
                                                </li>
                                                <li class="nav-item-btn text-center nav-item">
                                                    <button class="btn-wide btn btn-primary btn-sm">
                                                        Open Messages
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        Alina Mclourd
                                    </div>
                                    <div class="widget-subheading">
                                        VP People Manager
                                    </div>
                                </div>
                                <div class="widget-content-right header-user-info ml-3">
                                    <button type="button" class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                        <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-btn-lg">
                        <button type="button" class="hamburger hamburger--elastic open-right-drawer">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--Header END-->
        <!--THEME OPTIONS START-->
        <!--THEME OPTIONS END-->
        <div class="app-main">
            <div class="app-sidebar sidebar-shadow">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                <div class="scrollbar-sidebar">
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li class="app-sidebar__heading">Menu</li>
                            <!--<li class="mm-active">-->
                            <li class="treeview">
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-rocket"></i> Home
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>@Html.ActionLink("Purchase", "Index", "Purchase_Order")</li>
                                </ul>
                            </li>
                            
                            <li>
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-browser"></i> Pages
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul>
                                    <li>
                                        <a href="login.html">
                                            <i class="metismenu-icon"></i> Login
                                        </a>
                                    </li>
                                    <li>
                                        <a href="login-boxed.html">
                                            <i class="metismenu-icon">
                                            </i>Login Boxed
                                        </a>
                                    </li>
                                    <li>
                                        <a href="register.html">
                                            <i class="metismenu-icon">
                                            </i>Register
                                        </a>
                                    </li>
                                    <li>
                                        <a href="register-boxed.html">
                                            <i class="metismenu-icon">
                                            </i>Register Boxed
                                        </a>
                                    </li>
                                    <li>
                                        <a href="forgot-password.html">
                                            <i class="metismenu-icon">
                                            </i>Forgot Password
                                        </a>
                                    </li>
                                    <li>
                                        <a href="forgot-password-boxed.html">
                                            <i class="metismenu-icon">
                                            </i>Forgot Password Boxed
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-plugin"></i> Applications
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul>
                                    <li>
                                        <a href="mailbox.html">
                                            <i class="metismenu-icon">
                                            </i>Mailbox
                                        </a>
                                    </li>
                                    <li>
                                        <a href="chat.html">
                                            <i class="metismenu-icon">
                                            </i>Chat
                                        </a>
                                    </li>
                                    <li>
                                        <a href="faq-section.html">
                                            <i class="metismenu-icon">
                                            </i>FAQ Section
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="app-sidebar__heading">UI Components</li>
                            <li>
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-diamond"></i> Elements
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="metismenu-icon"></i> Buttons
                                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="buttons-standard.html">
                                                    <i class="metismenu-icon">
                                                    </i>Standard
                                                </a>
                                            </li>
                                            <li>
                                                <a href="buttons-pills.html">
                                                    <i class="metismenu-icon">
                                                    </i>Pills
                                                </a>
                                            </li>
                                            <li>
                                                <a href="buttons-square.html">
                                                    <i class="metismenu-icon">
                                                    </i>Square
                                                </a>
                                            </li>
                                            <li>
                                                <a href="buttons-shadow.html">
                                                    <i class="metismenu-icon">
                                                    </i>Shadow
                                                </a>
                                            </li>
                                            <li>
                                                <a href="buttons-icons.html">
                                                    <i class="metismenu-icon">
                                                    </i>With Icons
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="dropdowns.html">
                                            <i class="metismenu-icon">
                                            </i>Dropdowns
                                        </a>
                                    </li>
                                    <li>
                                        <a href="icons.html">
                                            <i class="metismenu-icon">
                                            </i>Icons
                                        </a>
                                    </li>
                                    <li>
                                        <a href="badges-labels.html">
                                            <i class="metismenu-icon">
                                            </i>Badges
                                        </a>
                                    </li>
                                    <li>
                                        <a href="cards.html">
                                            <i class="metismenu-icon">
                                            </i>Cards
                                        </a>
                                    </li>
                                    <li>
                                        <a href="loaders.html">
                                            <i class="metismenu-icon">
                                            </i>Loading Indicators
                                        </a>
                                    </li>
                                    <li>
                                        <a href="list-group.html">
                                            <i class="metismenu-icon">
                                            </i>List Groups
                                        </a>
                                    </li>
                                    <li>
                                        <a href="navigation.html">
                                            <i class="metismenu-icon">
                                            </i>Navigation Menus
                                        </a>
                                    </li>
                                    <li>
                                        <a href="timelines.html">
                                            <i class="metismenu-icon">
                                            </i>Timeline
                                        </a>
                                    </li>
                                    <li>
                                        <a href="utilities.html">
                                            <i class="metismenu-icon">
                                            </i>Utilities
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-car"></i> Components
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul>
                                    <li>
                                        <a href="tabs.html">
                                            <i class="metismenu-icon">
                                            </i>Tabs
                                        </a>
                                    </li>
                                    <li>
                                        <a href="accordions.html">
                                            <i class="metismenu-icon">
                                            </i>Accordions
                                        </a>
                                    </li>
                                    <li>
                                        <a href="notifications.html">
                                            <i class="metismenu-icon">
                                            </i>Notifications
                                        </a>
                                    </li>
                                    <li>
                                        <a href="modals.html">
                                            <i class="metismenu-icon">
                                            </i>Modals
                                        </a>
                                    </li>
                                    <li>
                                        <a href="loading-blocks.html">
                                            <i class="metismenu-icon">
                                            </i>Loading Blockers
                                        </a>
                                    </li>
                                    <li>
                                        <a href="progress-bar.html">
                                            <i class="metismenu-icon">
                                            </i>Progress Bar
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tooltips-popovers.html">
                                            <i class="metismenu-icon">
                                            </i>Tooltips &amp; Popovers
                                        </a>
                                    </li>
                                    <li>
                                        <a href="carousel.html">
                                            <i class="metismenu-icon">
                                            </i>Carousel
                                        </a>
                                    </li>
                                    <li>
                                        <a href="calendar.html">
                                            <i class="metismenu-icon">
                                            </i>Calendar
                                        </a>
                                    </li>
                                    <li>
                                        <a href="pagination.html">
                                            <i class="metismenu-icon">
                                            </i>Pagination
                                        </a>
                                    </li>
                                    <li>
                                        <a href="count-up.html">
                                            <i class="metismenu-icon">
                                            </i>Count Up
                                        </a>
                                    </li>
                                    <li>
                                        <a href="scrollable-elements.html">
                                            <i class="metismenu-icon">
                                            </i>Scrollable
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tree-view.html">
                                            <i class="metismenu-icon">
                                            </i>Tree View
                                        </a>
                                    </li>
                                    <li>
                                        <a href="maps.html">
                                            <i class="metismenu-icon">
                                            </i>Maps
                                        </a>
                                    </li>
                                    <li>
                                        <a href="ratings.html">
                                            <i class="metismenu-icon">
                                            </i>Ratings
                                        </a>
                                    </li>
                                    <li>
                                        <a href="image-crop.html">
                                            <i class="metismenu-icon">
                                            </i>Image Crop
                                        </a>
                                    </li>
                                    <li>
                                        <a href="guided-tours.html">
                                            <i class="metismenu-icon">
                                            </i>Guided Tours
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-display2"></i> Tables
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul>
                                    <li>
                                        <a href="data-tables.html">
                                            <i class="metismenu-icon">
                                            </i>Data Tables
                                        </a>
                                    </li>
                                    <li>
                                        <a href="regular.html">
                                            <i class="metismenu-icon">
                                            </i>Regular Tables
                                        </a>
                                    </li>
                                    <li>
                                        <a href="grid.html">
                                            <i class="metismenu-icon">
                                            </i>Grid Tables
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="app-sidebar__heading">Dashboard Widgets</li>
                            <li>
                                <a href="chart-boxes.html">
                                    <i class="metismenu-icon pe-7s-graph">
                                    </i>Chart Boxes 1
                                </a>
                            </li>
                            <li>
                                <a href="chart-boxes-2.html">
                                    <i class="metismenu-icon pe-7s-way">
                                    </i>Chart Boxes 2
                                </a>
                            </li>
                            <li>
                                <a href="chart-boxes-3.html">
                                    <i class="metismenu-icon pe-7s-ball">
                                    </i>Chart Boxes 3
                                </a>
                            </li>
                            <li>
                                <a href="profile-boxes.html">
                                    <i class="metismenu-icon pe-7s-id">
                                    </i>Profile Boxes
                                </a>
                            </li>
                            <li class="app-sidebar__heading">Forms</li>
                            <li>
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-light"></i> Elements
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul>
                                    <li>
                                        <a href="controls.html">
                                            <i class="metismenu-icon">
                                            </i>Controls
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layouts.html">
                                            <i class="metismenu-icon">
                                            </i>Layouts
                                        </a>
                                    </li>
                                    <li>
                                        <a href="validation.html">
                                            <i class="metismenu-icon">
                                            </i>Validation
                                        </a>
                                    </li>
                                    <li>
                                        <a href="wizard.html">
                                            <i class="metismenu-icon">
                                            </i>Wizard
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-joy"></i> Widgets
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul>
                                    <li>
                                        <a href="datepicker.html">
                                            <i class="metismenu-icon">
                                            </i>Datepicker
                                        </a>
                                    </li>
                                    <li>
                                        <a href="range-slider.html">
                                            <i class="metismenu-icon">
                                            </i>Range Slider
                                        </a>
                                    </li>
                                    <li>
                                        <a href="input-selects.html">
                                            <i class="metismenu-icon">
                                            </i>Input Selects
                                        </a>
                                    </li>
                                    <li>
                                        <a href="toggle-switch.html">
                                            <i class="metismenu-icon">
                                            </i>Toggle Switch
                                        </a>
                                    </li>
                                    <li>
                                        <a href="wysiwyg-editor.html">
                                            <i class="metismenu-icon">
                                            </i>WYSIWYG Editor
                                        </a>
                                    </li>
                                    <li>
                                        <a href="input-mask.html">
                                            <i class="metismenu-icon">
                                            </i>Input Mask
                                        </a>
                                    </li>
                                    <li>
                                        <a href="clipboard.html">
                                            <i class="metismenu-icon">
                                            </i>Clipboard
                                        </a>
                                    </li>
                                    <li>
                                        <a href="textarea-autosize.html">
                                            <i class="metismenu-icon">
                                            </i>Textarea Autosize
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="app-sidebar__heading">Charts</li>
                            <li>
                                <a href="chartjs.html">
                                    <i class="metismenu-icon pe-7s-graph2">
                                    </i>ChartJS
                                </a>
                            </li>
                            <li>
                                <a href="apexcharts.html">
                                    <i class="metismenu-icon pe-7s-graph">
                                    </i>Apex Charts
                                </a>
                            </li>
                            <li>
                                <a href="sparklines.html">
                                    <i class="metismenu-icon pe-7s-graph1">
                                    </i>Chart Sparklines
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="app-main__outer">
                <div class="app-main__inner">

                    <div class="tabs-animation">



                        <!--Content Body-->
                    </div>
                </div>
                <div class="app-wrapper-footer">
                    <div class="app-footer">
                        <div class="app-footer__inner">
                            <div class="app-footer-left">

                            </div>
                            <div class="app-footer-right">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--DRAWER START-->
    <div class="app-drawer-wrapper">
        <div class="drawer-nav-btn">
            <button type="button" class="hamburger hamburger--elastic is-active">
                <span class="hamburger-box"><span class="hamburger-inner"></span></span>
            </button>
        </div>
        <div class="drawer-content-wrapper">
            <div class="scrollbar-container">
            </div>
        </div>
    </div>
    <div class="app-drawer-overlay d-none animated fadeIn"></div>
    <!--DRAWER END-->
    <!--SCRIPTS INCLUDES-->
    <!--CORE-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/metismenu"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/app.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/demo.js"></script>

    <!--CHARTS-->
    <!--Apex Charts-->
    <script src="~/Content/Theme/assets/js/vendors/charts/apex-charts.js"></script>

    <script src="~/Content/Theme/assets/js/scripts-init/charts/apex-charts.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/charts/apex-series.js"></script>

    <!--Sparklines-->
    <script src="~/Content/Theme/assets/js/vendors/charts/charts-sparklines.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/charts/charts-sparklines.js"></script>

    <!--Chart.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/charts/chartsjs-utils.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/charts/chartjs.js"></script>

    <!--FORMS-->
    <!--Clipboard-->
    <script src="~/Content/Theme/assets/js/vendors/form-components/clipboard.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/form-components/clipboard.js"></script>

    <!--Datepickers-->
    <script src="~/Content/Theme/assets/js/vendors/form-components/datepicker.js"></script>
    <script src="~/Content/Theme/assets/js/vendors/form-components/daterangepicker.js"></script>
    <script src="~/Content/Theme/assets/js/vendors/form-components/moment.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/form-components/datepicker.js"></script>

    <!--Multiselect-->
    <script src="~/Content/Theme/assets/js/vendors/form-components/bootstrap-multiselect.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/form-components/input-select.js"></script>

    <!--Form Validation-->
    <script src="~/Content/Theme/assets/js/vendors/form-components/form-validation.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/form-components/form-validation.js"></script>

    <!--Form Wizard-->
    <script src="~/Content/Theme/assets/js/vendors/form-components/form-wizard.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/form-components/form-wizard.js"></script>

    <!--Input Mask-->
    <script src="~/Content/Theme/assets/js/vendors/form-components/input-mask.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/form-components/input-mask.js"></script>

    <!--RangeSlider-->
    <script src="~/Content/Theme/assets/js/vendors/form-components/wnumb.js"></script>
    <script src="~/Content/Theme/assets/js/vendors/form-components/range-slider.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/form-components/range-slider.js"></script>

    <!--Textarea Autosize-->
    <script src="~/Content/Theme/assets/js/vendors/form-components/textarea-autosize.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/form-components/textarea-autosize.js"></script>

    <!--Toggle Switch -->
    <script src="~/Content/Theme/assets/js/vendors/form-components/toggle-switch.js"></script>


    <!--COMPONENTS-->
    <!--BlockUI -->
    <script src="~/Content/Theme/assets/js/vendors/blockui.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/blockui.js"></script>

    <!--Calendar -->
    <script src="~/Content/Theme/assets/js/vendors/calendar.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/calendar.js"></script>

    <!--Slick Carousel -->
    <script src="~/Content/Theme/assets/js/vendors/carousel-slider.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/carousel-slider.js"></script>

    <!--Circle Progress -->
    <script src="~/Content/Theme/assets/js/vendors/circle-progress.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/circle-progress.js"></script>

    <!--CountUp -->
    <script src="~/Content/Theme/assets/js/vendors/count-up.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/count-up.js"></script>

    <!--Cropper -->
    <script src="~/Content/Theme/assets/js/vendors/cropper.js"></script>
    <script src="~/Content/Theme/assets/js/vendors/jquery-cropper.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/image-crop.js"></script>

    <!--Maps -->
    <script src="~/Content/Theme/assets/js/vendors/gmaps.js"></script>
    <script src="~/Content/Theme/assets/js/vendors/jvectormap.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/maps-word-map.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/maps.js"></script>

    <!--Guided Tours -->
    <script src="~/Content/Theme/assets/js/vendors/guided-tours.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/guided-tours.js"></script>

    <!--Ladda Loading Buttons -->
    <script src="~/Content/Theme/assets/js/vendors/ladda-loading.js"></script>
    <script src="~/Content/Theme/assets/js/vendors/spin.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/ladda-loading.js"></script>

    <!--Rating -->
    <script src="~/Content/Theme/assets/js/vendors/rating.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/rating.js"></script>

    <!--Perfect Scrollbar -->
    <script src="~/Content/Theme/assets/js/vendors/scrollbar.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/scrollbar.js"></script>

    <!--Toastr-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/toastr.js"></script>

    <!--SweetAlert2-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/sweet-alerts.js"></script>

    <!--Tree View -->
    <script src="~/Content/Theme/assets/js/vendors/treeview.js"></script>
    <script src="~/Content/Theme/assets/js/scripts-init/treeview.js"></script>


    <!--TABLES -->
    <!--DataTables-->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/datatables.net-bs4@1.10.19/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js" crossorigin="anonymous"></script>

    <!--Bootstrap Tables-->
    <script src="~/Content/Theme/assets/js/vendors/tables.js"></script>

    <!--Tables Init-->
    <script src="~/Content/Theme/assets/js/scripts-init/tables.js"></script>
    <script>
        $(document).ready(function () {
            var url = window.location;
            // for sidebar menu entirely but not cover treeview
            $('ul.vertical-nav-menu a').filter(function () {
                return this.href != url;
            }).parent().removeClass('mm-show');

            // for sidebar menu entirely but not cover treeview
            $('ul.vertical-nav-menu a').filter(function () {
                return this.href == url;
            }).parent().addClass('mm-show');

            // for treeview
            $('ul.treeview-menu a').filter(function () {
                return this.href == url;
            }).parentsUntil(".vertical-nav-menu > .treeview-menu").addClass('mm-active');
            //$('[data-toggle="tooltip"]').tooltip();
        });
            //$(".dropdown-toggle").click(function () {
            //    $('[data-toggle="tooltip"], .tooltip').tooltip("hide");
            //});

    </script>
</body>

</html>