
@{
    ViewBag.Title = "LabReport";
    Layout = "~/Views/Shared/index.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link href="https://kendo.cdn.telerik.com/themes/6.2.0/default/default-main.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.1.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.1.117/js/kendo.all.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: black;
        }

        * {
            box-sizing: border-box;
        }

        /* Add padding to containers */
        .container {
            padding: 16px;
            background-color: white;
        }

        /* Full-width input fields */
        input[type=text], input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

            input[type=text]:focus, input[type=password]:focus {
                background-color: #ddd;
                outline: none;
            }

        /* Overwrite default styles of hr */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* Set a style for the submit button */
        .registerbtn {
            background-color: #04AA6D;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

            .registerbtn:hover {
                opacity: 1;
            }

        /* Add a blue text color to links */
        a {
            color: dodgerblue;
        }

        /* Set a grey background color and center the text of the "sign in" section */
        .signin {
            background-color: #f1f1f1;
            text-align: center;
        }

        .k-readonly {
            color: gray;
        }

        .selected-value {
            display: inline-block;
            vertical-align: middle;
            width: 24px;
            height: 24px;
            background-size: 100%;
            margin-right: 5px;
            border-radius: 50%;
        }

        #CompanyName-list .k-list-item-text {
            line-height: 1em;
            min-width: 300px;
        }

        .k-list-scroller {
            overflow-y: scroll;
        }

        #CompanyName-list .k-list-item-text > span:first-child {
            -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            margin: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-size: 100%;
            background-repeat: no-repeat;
        }

        .k-no-data {
            display: table;
            width: 100%;
            padding-top: 20px;
        }

        .k-dropdown-wrap {
            height: 35px;
        }

            .k-dropdown-wrap:hover {
                color: #2e2e2e;
            }

        span.k-icon.k-i-arrow-60-down {
            margin-top: 10px;
        }

        .k-expander-title {
            color: white;
        }

        .k-expander-header {
            color: #424242;
            background-color: yellowgreen;
        }

            .k-expander-header:hover {
                color: #424242;
                background-color: yellowgreen;
            }
        /* Add this CSS to your stylesheet */
        /* Add this CSS to your stylesheet */
        .k-grid-header {
            position: sticky;
            top: 120px;
            z-index: 5; /* Adjust z-index as needed */
            background-color: #fff; /* Background color for the fixed header */
        }

        .k-grid-content {
            overflow-y: auto;
            max-height: 400px; /* Adjust the max height as needed */
        }
    </style>

</head>
<body>
    <div id="ex1" style="height:400px">
        <div class="col-md-6">
            <label><b>Test Report No.</b></label>
            <input id="ddlReportNo" placeholder="select Report No">
        </div>
        <div class="col-md-7" style="text-align:end">
            <button type="submit" class="btn btn-success" onclick="ViewReport()">View</button>
        </div>
    </div>
    <script>
        $('#ex1').kendoExpansionPanel({
            title: 'Lab Report',
            expanded: true,
        });
    </script>
</body>
</html>

@section scripts{

    <script>

        $(document).ready(function () {
            LoadAllData();
        })
        var ReportList = [];
        function LoadAllData() {
            $.ajax({
                /*url: '/BillingRegisterList/GetAllDropdownData',*/
                url: '@Url.Action("GetAllDropdownData", "LabReport")',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(null),
                success: function (Data) {
                    ResultArray = JSON.parse(Data);
                    ReportList = ResultArray.ReportList;
                    if (ReportList.length > 0) {
                        LoadReportList();
                    }
                    else {
                        Swal.fire('Data Not Found', '', 'warning');
                    }
                },
                error: function (xhr) {
                    toastr.warning("Data Not Found");
                }
            });
        }
        function LoadReportList() {
            $("#ddlReportNo").kendoComboBox({
                placeholder: "select Report No",
                dataTextField: "TestReportNo",
                dataValueField: "TestReportNo",
                dataSource: ReportList,
                filter: "contains",
                suggest: true,
                index: -1,
            });
        }
        function ViewReport() {
            var ReportNo = $("#ddlReportNo").data("kendoComboBox").value();
            var url = '@Url.Action("LabTestReport", "LabReport")?ReportNo=' + ReportNo;
            window.open(url, '_blank');
            location.reload();

        }

    </script>
}

